* {
  margin: 0;
  font-family: "Segoe UI" ,Arial, sans-serif;
  font-size: 15px;
}

/* h1 */
h1 {
  font-size: 42px;
  padding: 16px 0px;
}
/* h2 */
h2 {
  font-size: 32px;
  padding: 16px 0px;
}
/* h3 */
h3 {
  font-size: 24px;
  padding: 16px 0px;
  font-weight: 600px;
}
h5{
  margin: 10px 0px 20px;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

strong {
  font-weight: 600;
}

.top-nav-bar__logo {
  height: 50px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: white;
}
.top-nav-bar {
  font-family: "Source Sans Pro TopNav", sans-serif;
  font-weight: 500;
  background-color: #282A35;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.top-nav-bar__left {
  display: flex;
  align-items: center; 
  float: left;
}

.top-nav-bar__left .left__item a {
  color: #282A35;
  text-decoration: none;
  padding: 16px 15px;
}
.left__item a:last-child {
  display: none;
}
.top-nav-bar__left .left__item a:hover {
  color: #ffffff;
  background-color: #04AA6D;
}

.top-nav-bar__search {
  display: flex;
  border: #dfdfdf 1.5px solid;
  height: 35px;
  border-radius: 50px;
  margin: 5px;
}

.top-nav-bar__search .search-input {
  border: none;
  background: none;
  outline: none;
  padding: 0 12px;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  line-height: 40px;
  width: 120px;
}

.top-nav-bar__search .search-input::placeholder {
  font-style: italic;
  color: #A1A3A1;
}

.top-nav-bar__search .serch__submit {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.top-nav-bar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
.right-item{
  display: flex;
}
.right-item a {
  margin: 5px 15px;
  color: black;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 30px;
  min-width: 68px;
}
.right-item i{
  color: #9763F6;
  padding: 5px;
}

.right-item a:hover {
  background-color: #F1F1F1;
}
@media screen and (max-width: 1260px) {
  .right-item a:first-child {
    display: none;
  }
  .w3container__right{
    min-width: 160px;

  }
}
@media screen and (max-width: 1180px) {
  .right-item a:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1120px) {
  .right-item a:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .left__item a:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .search-input {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .left__item a:nth-child(1),.left__item a:nth-child(2),
  .left__item a:nth-child(4) {
    display: none;
  }
  .left__item a:last-child {
    display: block;
  }
}
.top-nav-bar__button {
  border-radius: 30px;
  background-color: #D9EEE1;
  padding: 10px 10px 10px 0px;
  margin-right: 20px;
  min-width: 160px;
}
.top-nav-bar__button a {
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 30px;
 
}
.top-nav-bar__button .button__signup {
  padding: 10px 20px;
  color: white;
  background-color: #059862;
}
/* sub-nav-bar */
.sub-nav-bar {
  width: 100%;
  height: 33px;
  display: flex;
  background-color: #282A35;
  justify-content: space-between;
}
.sub-nav-bar__button {
  width: auto;
  padding: 5px 15px;
  text-decoration: none;
  line-height: 1.5;
  font-size: 14px;
  color: white;
}
.active {
  pointer-events: none;
  background-color: #059862;
  color: white;
}
.sub-nav-bar__button:hover {
  background-color: #000;
}
/* container */
.container {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 80px;
}
.left-menu {
  background-color: #E7E9EB;
  width: 15%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  /* scroll */
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 950px) {
  .left-menu,.w3container__right {
    display: none;
  }
}
/* left container */
.left-menu__title {
  font-size: 21px;
  padding-left: 16px;
  margin: 20px 0px 5px 0px;
  width: 204px;
}
.sub-nav-bar__item{
  display: flex;
  flex-direction: column;
}

.sub-nav-bar__item .item__a{
  padding: 2px 15px 1px 40px;
  text-decoration: none;
  color: black;
}
.sub-nav-bar__item .item__a:hover{
  background-color: #ccc;
}

.w3container{
  width: 85%;
  display: flex;
  flex-direction: column;
 
}
.w3container__body {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(217, 212, 212);
}
.w3container__body .main {
  width: 100%;
}
.main img {
  width: 100%;
}

.w3container__right {
  /* width: 15%; */
  border-left: 1px solid rgb(217, 212, 212);
  min-width: 160px;
}
.w3container__right img {
  width: 100%;
}

.w3container__advertisements {
  width: 100%;
  height: auto;
  text-align: center;
}
.w3container__advertisements img {
  margin: 10px;
  width: 80%;
}
/* main */
.main {
  padding: 0px 32px;
}
.next-pre {
  display: flex;
  justify-content: space-between;
}
.primary {
  display: inline-block;
  background-color: #04AA6D;
  color: #ffffff;
  border: 1px solid #04AA6D;
  padding: 10px 20px;
  font-weight: strong;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.primary:hover {
  background-color: #059862;
}

.intro__content {
  background-color: #D9EEE1;
  border-left: none;
  padding: 32px;
  margin: 24px;
  margin-left: -32px;
  margin-right: -32px;
  
}

.intro__content .content__infor p {
  line-height: 3;
  font-weight: 600;
}



.w3container__example {
  padding: 8px 20px;
  margin: 24px -20px;
  background-color: #E7E9EB;
  border-radius: 5px;
}
.w3container__example__code{
  background-color: white;
  border-left: 4px solid #04AA6D;
  margin: 16px 0px;
  padding: 8px 12px;
}
.sub-content__button {
  background-color: #E7E9EB;
  color: black;
  border: 1px solid #E7E9EB;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  margin: 10px 0px;
  display: inline-block;

}
.sub-content__button:hover {
  background-color: #04AA6D;
  color: white;
}
/* HTML Exercises */
.w3container__exercise {
  padding: 8px 20px;
  margin: 24px -20px;
  background-color: #282A35;
  border-radius: 5px;
}
.exercises__content{
  background-color: #ffffff;
  padding: 16px;
  color: #000000;
  margin-bottom: 15px;
  
}
.exercises__code{
  margin: 20px 0px 10px 0px;
  background-color: #E7E9EB;
  padding: 16px;
  font-size: 120%;
  font-family: Consolas, Menlo, "Courier New", Courier, monospace;
}
.exercise-content__link{
  color: black;
  display: block;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 600;
}
.exercises__link:hover {
  color: #059862;
  
}
/* my lerning */
.my-learning__img {
  width: 840px;
}
.my-learning__description {
  line-height: 40px;
  font-weight: 600;
}
.reference__table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0px;
}
.reference__table a {
  margin-bottom: 16px;
  font-weight: 500;
  width: 32%;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  text-decoration: none ;
  border-radius: 5px;
  background-color: #E7E9EB ;
  color: black ;
}
.reference__table a:hover{
  background-color: black;
  color: white;
}
.w3container__panel{
  width: 100%;
}
.w3container__video {
  width: 80%;
  margin: 0px 10%;
}
/* footer */
.w3container__footer{
  margin-top: 80px;
  color: #DDD;
  background: url(./images/footer.png) no-repeat center ;
  display: flex;
  flex-flow: column wrap;
}

.footer__logo {
  width: 100px;
  height: 100px;
}
.footer__items{
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  flex: row wrap;
}
.footer__feature {
  display: flex;
  flex: row wrap;
  

}
.footer__feature .feature__link{
  width: auto;
  float: left;
  padding: 40px 30px;
  color: #FFF4A3;
  text-decoration: none;
}
.footer__lesson {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer-content {
  margin: 40px 80px 300px;
}
.type{
  display: flex;
  flex-flow: column nowrap;
  
}
.type__title{
  color: #DDD;
  font-weight: 500;
  font-size: 20px;
}
.type a{ 
  color: #DDD;
  text-decoration: none;
  font-size: 12px;
}
.type a:hover, .footer__text a:hover{ 
  color: #FFF4A3;
}
.footer__some{
  width: 40%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer__text a{
  color: white;
  
}
.footer__some a {
  color: white;
  text-decoration: none;
}
.footer__some a:hover{
  color: #FFF4A3;
  text-decoration: underline;
}


